@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner -->
<div class="main-content banner">
    <div class="container">
        <h1 class="display-4">Notes App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis modi similique expedita voluptas blanditiis facere esse, magni alias excepturi sequi!</p>
        <div class="button-area">
            <a class="main-content-button">See more</a>
        </div>
    </div>
</div>
<!-- Cards -->
<div class="container">
    <h4 class="cards-heading text-center mb-4">
        Explore the Benefits
    </h4>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            <div class="card text-center border-0 shadow rounded-0 p-3 h-100">
                <div class="card-icon-area">
                    <img src="../images/lightbulb-fill.svg" alt="Lightbulb fill icon" class="card-icon"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Organize Your Ideas</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt laborum ducimus ratione ab voluptatum tenetur animi iure suscipit laboriosam tempora earum assumenda amet, sequi atque.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center border-0 shadow rounded-0 p-3 h-100">
                <div class="card-icon-area">
                    <img src="../images/lightning-charge-fill.svg" alt="Lightning charge fill icon" class="card-icon"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Quick Access</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quos sit commodi mollitia?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center border-0 shadow rounded-0 p-3 h-100">
                <div class="card-icon-area">
                    <img src="../images/pen-fill.svg" alt="Pen fill icon" class="card-icon"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Customize Your Notes</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ut sint doloremque quo earum. Exercitationem animi fugiat ex!</p>
                </div>
            </div>
        </div>
    </div>
</div>