@model Notes.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<!-- Main Content -->
<div class="main-content container">
    <h1 class="display-4 mb-1">@ViewData["Title"]</h1>
    <h4 class="form-heading mb-4">Note</h4>
    <div class="row">
        <div class="col-md-6">
            <!-- Form -->
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <!-- Field for the note title -->
                <div class="form-group mb-4">
                    <label asp-for="Title" class="control-label mb-2"></label>
                    <input asp-for="Title" class="form-control form-input" placeholder="Enter note title" autocomplete="off" />
                    <span asp-validation-for="Title" class="text-danger small"></span>
                </div>
                <!-- Field for the note content -->
                <div class="form-group mb-4">
                    <label asp-for="Content" class="control-label mb-2"></label>
                    <textarea asp-for="Content" class="form-control form-textarea" placeholder="Enter note content"></textarea>
                    <span asp-validation-for="Content" class="text-danger small"></span>
                </div>
                <!-- Dropdown for selecting the note category -->
                <div class="form-group mb-4">
                    <label asp-for="CategoryId" class="control-label mb-2"></label>
                    <select asp-for="CategoryId" class="form-control form-select" asp-items="ViewBag.CategoryId"></select>
                </div>
                <!-- Button -->
                <div class="form-group button-area">
                    <input type="submit" value="Save" class="btn main-content-button" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}