:root {
    --primary-color: #41AB5D;
    --primary-color-hover: #369950;
}

html {
  font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-bottom: 60px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 18%);
}

.navbar-brand {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 24px;
    transition: 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: var(--primary-color-hover);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #333333;
    font-weight: 500;
    position: relative;
}

.nav-link:hover {
    color: #000;
}

.navbar-toggler-icon {
    background: url(../images/list.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
    background-color: #000;
}

.span-primary-color {
    color: var(--primary-color);
}

.banner {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: rgb(120,189,138);
    background: linear-gradient(317deg, rgba(120,189,138,1) 16%, rgba(65,171,93,1) 53%, rgba(54,153,80,1) 79%);
    color: #000;
}

.banner h1 {
    font-weight: 600;
}

.banner-button-area {
    display: flex;
    align-items: center;
}

.banner-button {
    background-color: #FFF;
    color: #000;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.banner-button:hover {
    color: #000;
    cursor: pointer;
    background-color: #E6E6ED;
}

.cards-title {
    font-weight: 600;
    color: #000;
}

.col {
    margin-bottom: 2rem;
}

.card {
    color: #000;
    transition: all 0.3s;
}

.card-icon-area {
    padding: 1rem 1rem;
}

.card .card-icon {
    filter: invert(56%) sepia(28%) saturate(800%) hue-rotate(83deg) brightness(94%) contrast(100%);
    width: 2.5rem;
}

@media (min-width: 992px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--primary-color);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 576px) {
    .banner {
        padding: 4rem 2rem;
    }
}